@font-face {
    font-family: 'Crayon';
    src: url(sparkly-yarn/Sparkly\ Yarn.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crayon';
    user-select: none;
    /* Prevents text selection */
    outline: none;
}

body {

    background: url(watercolor-paper-texture_1194-5417.avif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(249, 249, 249);

}

.text {
    margin-bottom: 10px;
    font-size: 60px;
    color: rgb(255, 23, 23);
    font-weight: bold;
}

main {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background: yellow;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

button:active {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 4px solid black;
    border-left: 4px solid black;
}

#colorInput {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* WebKit fix for internal wrapper */
#colorInput::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;

}

/* Swatch fix */
#colorInput::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    margin: 0;
    padding: 0;

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    box-sizing: content-box;
    border: 1px solid rgb(59, 59, 59);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {

    background-color: rgb(245, 245, 245);

}